.backimage {
  width: 1520px;
  height: 600px;

}

.mimag {
  width: 1520px;
}

.middle-container {
  position: relative;
  text-align: center;
  color: white;
}

.log {
  height: 30px;
  width: 30px;
}

.collapse {
  padding-right: 3%;
}

.butt {

  top: 90%;
  left: 50%;

}

#features {
  background-color: white;
  padding: 7% 15%;
  position: relative;
  z-index: 1;
}

.featur-box {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

.icon {
  color: #575E9F;
  margin: 1rem;
}

.icon:hover {
  color: #136BD7;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

#gift {
  float: right;
  margin-left: 30px;
  width: 300px;
  height: 200px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.chilli-img {
  width: 500px;
  height: 300px;
  float: right;
  margin-left: 30px;
}

.skills {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#footer {
  padding: 36px 15px 16px;
  color: black;



  text-align: center;

  background-color: white;
  height: 50px;
}
#testimonials {

  background-color: ;
  text-align: center;
  color: white;

}
.testimonial-image{
  width: 60%;
  border-radius: 50%;
}
.testi-img {
  width: 60%;
  border-radius: 50%;
}
.dta{
  text-align: center;
  padding-top: 0.5%;
  padding-bottom: 0.5%;

  background-color: #010235;

}
#cta {
  margin-top: 15px;
  padding: 5% 15% 5%;


  text-align: center;
  background-color: #1256AE;
}


@media(max-width:1028px) {
  .backimage {
    width: 980px;
  }
  .mimag{
    width:980px;
    height:960px;
  }
  .butt {
    position: absolute;
    margin: 5% 3% 5% 0;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}
